<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/tx 
      http://www.springframework.org/schema/tx/spring-tx-4.1.xsd 
      http://www.springframework.org/schema/aop
 	  http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">
	<!-- 加载配置文件 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/*.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- 自动扫描的包名 -->
    <context:component-scan base-package="com.zhengs"></context:component-scan>

	<!-- 支持aop -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
    <aop:config /> 
    
    <!-- 需要加入缓存的类或方法 -->
	<bean id="methodCachePointCut" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor" > 
		<property name="advice" ref="methodCacheInterceptor" /> 
		<property name="patterns" > 
			<list> 
				<!-- 确定正则表达式列表 -->
		       	<value>com\.zhengs\.sysConfig\.service\.impl\...*ServiceImpl.*</value >
			</list> 
		</property> 
	</bean>

	<!-- ajax返回406 (Not Acceptable)-->
	<mvc:annotation-driven content-negotiation-manager="contentNegotiationManager" />
	<bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
	    <!-- Turn off working out content type based on URL file extension, should fall back to looking at the Accept headers -->
		<property name="favorPathExtension" value="false" />
	</bean>

	<!-- 页面的的路径 -->
	<bean id="velocityConfigurer" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer" 
   		p:resourceLoaderPath="WEB-INF/views/">
    	<property name="velocityProperties">
    		<props>
    			<prop key="input.encoding">utf-8</prop>
    			<prop key="output.encoding">utf-8</prop>
    		</props>
    	</property>
    </bean> 
    
	<!-- velocity视图解析器 -->  
    <bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver"
        p:suffix=".html"
        p:prefix=""
        p:contentType="text/html;charset=utf-8"
        p:dateToolAttribute="dateTool"
        p:toolboxConfigLocation="WEB-INF/velocity-toolbox.xml"
        p:exposeRequestAttributes="true"
        p:exposeSessionAttributes="true">
        <property name="requestContextAttribute" value="req"/> 
        <property name="exposeSpringMacroHelpers" value="true"/>
    </bean>
</beans>

